*{
    border: 0;
    padding: 0;
    margin: 0;
    }

body{
    background-color: ivory;
    margin: 0;
}

h1{
    color: orangered; 
    font-size: 300%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: normal; 
    padding-bottom: 10px; 
    margin-top: 20px; 
    text-align: center;
}

h2{
    color: black; 
    font-size: 250%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: normal;
    text-align: left; 
    padding-bottom: 10px; 
    margin-top: 40px; 
}

h3{
    color: black; 
    font-size: 250%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: normal;
    text-align: left; 
    padding-bottom: 10px; 
    margin-top: 40px; 
}

h4{
    color: black; 
    font-size: 250%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: normal;
    text-align: left; 
    padding-bottom: 10px; 
    margin-top: 40px; 
}

nav{
   padding: none; 
}

ul{
    list-style-type: none; 
    margin: none; 
    padding: none; 
    background-color: orangered;
}

li{
    color: ivory; 
    font-size: 150%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center; 
    display: inline; 
    background-color: orangered;
}

a:link, a:visited{
    display: inline-block; 
    background-color: orangered; 
    padding: 14px 28px; 
    color: ivory; 
    text-decoration: none;
}

a:hover{
    display:inline-block; 
    background-color: ivory; 
    padding: 14px 28px; 
    color: black; 
    text-decoration: none;
}

table{
    width: 80%;
    margin-top:50px; 
    margin-left: auto; 
    margin-right:auto; 
    border-collapse: collapse; 
    border-style: solid; 
    border-width:10px; 
    border-color: orangered;
}

td{
    background-color:ivory; 
    color:orangered; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 200%; 
    text-align:left; 
    padding:10px;
}

a.story{
    display: inline-block; 
    background-color: ivory; 
    padding: 10px 20px; 
    color: orangered; 
    text-decoration: none; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size:137%;
}

a.story:hover{
    display: inline-block; 
    background-color: orangered; 
    padding: 10px 20px; 
    color: ivory; 
    text-decoration: none; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size:137%;
}

p.story{
    font-size: 20px;
    font-weight: normal; 
    padding-bottom: none; 
    margin-left: 9%;
}

p.description{
    font-size: 16px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 10%; 
    padding-bottom: 20px; 
    margin-right: 10%; 
    padding-top: none;
}

.bio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid orangered;
    padding: 5px;
}

img.bioPic{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 150px;
    height: 225px;
    padding-bottom: 15px;
}

img.screenshot{
    display:block;
    padding-left: 15%;
    padding-bottom: 35px;
}

.projectHeadingsWhite{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    color: white;
    margin-left: 15%;
    margin-bottom: 15px;
}

.projectHeadingsBlack{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    color: black;
    margin-left: 15%;
    margin-bottom: 15px;
}

.projectBlock{
    display: block;
    width: 100%;
    height: auto;
    background-color: orange;
}